
      <li>
      <%= link_to "#{user.email}", user %>

      <%= link_to 'settings', edit_user_path(user) %>
      <%= link_to 'delete', user, method: :delete,
                              data: {confirm: "You sure?" } %>
      </li>
