
<%= render 'shared/user_info' %>

<h2>Comments(<%= @user.microposts.count %>)</h2>
<% if @user.microposts.any? %>
  <ol>
    <%= render @microposts %>
  </ol>
  <%= will_paginate @microposts %>
<% end %>
